    body {
        background-color: rgb(255, 255, 230);
    }

    .container {
        border: 1px solid blue;
        /* margin: 160px 470px; */
    }

    .main-menu {
        background-color: rgb(221, 240, 227);
        text-align: center;
        font-size: xx-large;
    }

    .header {
        background-color: rgb(255, 153, 192);
        text-align: center;
        font-size: x-large;
    }

    .button1 {

    }

    .button2{
        
    }
    .button3{
        
    }
    
